// @import "~bootstrap/scss/bootstrap";

.footerNav {
    height: 420px;
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 0;
    overflow: hidden;

    .container {
        max-width: 1260px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .textContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1.5rem 2.5rem;
            height: 420px;

            .col {
                .footerListTitle {
                    color: #dddddd;
                    text-transform: uppercase;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }

                .footerList {
                    list-style: none;

                    li {
                        a {
                            color: #808080;
                            text-decoration: none;
                            text-transform: capitalize;
                            font-size: 0.8rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .imgContainer {
            position: absolute;
            right: 0;
            top: 45%;
            transform: translateY(-50%);

            img {
                height: 480px;
            }
        }
    }
}

.footerSocial {
    background-color: #303030;
    padding: 2rem 0;
    .container {
        max-width: 1260px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ctaBtn {
            display: inline-block;
            padding: 16px;
            border: 3px solid #0583f9;
            background-color: #303030;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.05rem;
            position: relative;
            isolation: isolate;
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                transition: height 0.2s;
                background-color: #0583f9;
                opacity: 0.5;
                width: 100%;
                height: 0;
            }
            &:hover::after {
                height: 100%;
            }
        }
        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            h3 {
                color: #0583f9;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
            .socialList {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                list-style: none;
                li:hover {
                    filter: brightness(0) contrast(100%) invert(75%);
                }
            }
        }
    }
}