.heroSection {
    height: 420px;
    background-image: url("../images/jumbotron.jpg");
    background-size: cover;
    background-position: center top;
}
.contentSection {
    background-color: #303030;
    .container {
        padding-bottom: 1rem;
        max-width: 1260px;
        margin: 0 auto;
    }
    .sectionTitle {
        color: white;
        background-color: #0583f9;
        display: inline-block;
        padding: 10px 20px;
        text-transform: uppercase;
        position: relative;
        top: -25px;
    }

    .btnContainer {
        text-align: center;
    }
}
.actionsSection {
    background-color: #0583f9;
    padding: 2rem;
    
    .container {
        padding: 0 2rem;
    }
}